<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<!--NavBar--->
 <div class="header" id="myheader">
  <a href="#home" class="active">Home</a>
  <a href="form/form.ejs">Form</a>
  <a href="#contact">Contact</a>
  <a href="#about" style="float:right; font-weight:bold">Evenssion</a>
  <img src="/images/00.jpg" align="right"  width="50" height="50" padding="2px">
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

<!--Carousel--->
<div class="slideshow-container">

<div class="mySlides fade">
  <img src="/images/05.jpg" style="width:100%">
</div>

<div class="mySlides fade">
  <img src="/images/02.jpg" style="width:100%">
</div>

<div class="mySlides fade">
  <img src="/images/06.jpg" style="width:100%">
</div>

<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>

<!--About Us--->
<div style="text-align:center">
  <h1 style="color:#ffffff;font-size:60px">About Us</h1>
</div>

<!-- The App Section1 -->
<div class="container2" style="background-color:#f1f1f1">
  <div class="row">
    <div class="column-49">
      <h1 style="color:#FF6382;font-size:35px"><b>Best Event Management Company in Mumbai</b></h1>
      <p style="color:#000000;font-size:20px">Are you overwhelmed by the idea of planning and organising an event like a company dinner party, a wedding ceremony, luncheon, or something similar? Do you need someone to help you manage your events in Mumbai? Look no further! Evenssion is here for you. We will help you organise and plan your events from start to finish. When you hire us to manage your event, you free yourself from worry, as we handle every detail with utmost priority. Book an appointment with us by dialling +919167314167.</p>
     </div>
    <div class="column-51">
        <img src="/images/07.png" width="270" height="270">
    </div>
  </div>
</div>

<!-- The App Section2 -->
<div class="container2">
  <div class="row">
  <div class="column-51">
        <img src="/images/08.jpg" width="270" height="270">
    </div>
    <div class="column-49">
      <h1 style="color:#ffffff;font-size:35px"><b>Our Dedicated and Innovative Team</b></h1>
      <p style="color:#ffffff;font-size:20px">Our team is experienced in managing a wide range of events, so whether you need to plan celebrations for friends and family, a wedding, or corporate party, we can help. From seating arrangements, stage management, to sourcing all those special little extras, our trusted network of local suppliers share the same determined and persistent approach to excellence – you can be confident that everything will be handled with diligence and care.</p>
     </div>
  </div>
</div>

<!-- The App Section3 -->
<div class="container2" style="background-color:#f1f1f1">
  <div class="row">
    <div class="column-49">
      <h1 style="color:#FF6382;font-size:35px"><b>Trained Decoration Team</b></h1>
      <p style="color:#000000;font-size:20px">Our staff really do make us proud. They have great experience in a range of events, themed nights, and parties. Their vast portfolio of local suppliers ensures that your money will go as far as possible. If you’re after a simple theme for a tight budget, that’s no problem, our experts can help. If you’re after a luxurious decoration theme, then our experts will propose a series of drafts and mockups so you can preview the decor before even setting foot in the venue.</p>
     </div>
    <div class="column-51">
        <img src="/images/09.png" width="270" height="270">
    </div>
  </div>
</div>

<!--Gallery links--->
<div style="text-align:center">
  <h1 style="color:#ffffff;font-size:60px">Gallery</h1>
</div>

<div class="row">
  <div class="column">
     <a href="Gal/Lights/index.ejs">
           <img src="/images/13.jpg" alt="category">
     </a> 
  </div>
  <div class="column">
    <a href="Gal/Pooja Room/index.ejs">
           <img src="/images/14.jpg" alt="category">
     </a> 
  </div>
  <div class="column">
    <a href="Gal/Drapes/index.ejs">
           <img src="/images/11.jpg" alt="category">
     </a> 
  </div>
  <div class="column">
    <a href="Gal/Props/index.ejs">
           <img src="/images/15.jpg" alt="category">
     </a> 
  </div>
  <div class="column">
    <a href="Gal/Entrances/index.ejs">
           <img src="/images/10.jpg" alt="category">
     </a> 
  </div>
  <div class="column">
    <a href="Gal/Cabana/index.ejs">
           <img src="/images/12.jpg" alt="category">
     </a> 
  </div>
</div>

<!--Testimonials--->

<div style="text-align:center">
  <h1 style="color:#ffffff;font-size:60px">Testimonials</h1>
</div>

 <div class="container animate-left">
  <img src="/images/ish.png" alt="Avatar" style="width:90px">
  <p><span>Ishmeet Kaur.</span> Roll Number:14.</p>
  <p>We appreciate your valuable time. great support, perfect guidance and best execution of Decor as per our Dream. We are speechless with your commitment and service. Also we feel like it's not only value for money but also more than 100% satisfaction. Thank you sooooo much.</p>
</div>

<div class="container animate-right">
  <img src="/images/mush.png" alt="Avatar" style="width:90px">
  <p><span >Mushira Shaikh.</span> Roll Number:63.</p>
  <p>I am ever so grateful to DreamzKrraft for the wedding co-ordination and styling from scratch. Thank you doesn't seem enough for the pains and efforts put in by the team to ensure a stupendous wedding. I will always remember my wedding to be perfect and DreamzKrraft were a big part of creating, with utmost precision and patience, that beautiful vivid memory in my mind for a lifetime!</p>
</div> 

<div class="container animate-left">
  <img src="/images/gia.jpg" alt="Avatar" style="width:90px">
  <p><span >Gianna Drego.</span> Roll Number:08.</p>
  <p>You were a dream team to work with. Thank you so much for such a wonderful wedding. Everything from planning to decor, organization, etc. was impeccable. My family, as well as the guests, were all praises for you guys. Thank you</p>
</div> 

<!--AJAX & XML--->
<div class="container1" align="middle">
<input type="submit" value="Need Vendors?" onclick="loadDoc()">
<br><br>
<table id="demo"></table>
</div>

<!--Contact Us--->
 <div class="container1">
  <div style="text-align:center">
    <h2 style="color:#ffffff">Send a Message</h2>
    <p style="color:#ffffff">Our expert will get in touch with you within 24 hours</p>
  </div>
  <div class="row">
    <div class="column1">
        <div id="googleMap" style="width:100%;height:600px"></div>
    </div>
    <div class="column1">

      <form action="/contact" method="post" id="contact">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="Your name..">
        <label for="phone">Phone Number</label>
        <input type="text" id="phone" name="phone" placeholder="Your phone number..">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" placeholder="Your email..">
        <label for="Place">Place</label>
        <select id="place" name="place">
          <option value="kurla">Kurla</option>
          <option value="bhandup">Bhandup</option>
          <option value="dadar">Dadar</option>
          <option value="dadar">Parel</option>
          <option value="dadar">Andheri</option>
        </select>
        <label for="message">Message</label>
        <textarea id="message" name="message" placeholder="Tell us aout your request" style="height:170px"></textarea>
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
  
  

  <div id="footer" align="middle">
<p>&copy; Evenssion. All rights reserved.</p>
        </div>

</div> 



<!--Footer--->
 <div class="footer" id="myfooter">
 <img src="/images/00.jpg" align="left"  width="50" height="50" padding="2px">
  <a href="#about" style="float:right" class="fa fa-phone"> 9967937644</a>
  <a href="#about" style="font-weight:bold">Follow evenssion on </a>
  <a href="https://www.facebook.com/Evenssion-538233863309612/" class="fa fa-facebook"></a>
  <a href="https://www.instagram.com/evenssion/" class="fa fa-instagram"></a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
<script src="/js/home.js"></script> 
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=myMap"></script>

</body>
</html> 

